@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
.relogio {
  text-align: center;
  font-size: 120px;
  color: white;
  padding-top: 100px;
  font-family: 'ZCOOL KuaiLe', cursive;
}